{{!-- <p> Welcome to {{ title }}</p>
{{# if condition}}
    condition met
{{ else }}
    condition not met
{{/if}}

{{# each someArray as |val key|}}
    {{key }} - {{val}}
{{/each}}
<div class="special">
    new line
</div>

{{# each someArray }}
    {{this}}
{{/each}} --}}


<div id="wrapper">
    <div class="section">
        {{> bio}}
    </div>
    <div class="section stuffBackground">
        {{> stuff}}
    </div>
    
</div>

<script>
    $(document).ready(function(){
        $('#wrapper').fullpage({
            autoScrolling:true,
		    scrollHorizontally: true,
            navigation: true,
            navigationPosition: 'right',
            showActiveTooltip: true,
            navigationTooltips: ['Bio','Cool Stuff Coming']});

            
    });
</script>
