<h1> {{ title }}</h1>
<p> Welcome to {{ title }}</p>
{{# if condition}}
    condition met
{{ else }}
    condition not met
{{/if}}

{{# each someArray as |val key|}}
    {{key }} - {{val}}
{{/each}}
<div class="special">
    new line
</div>

{{# each someArray }}
    {{this}}
{{/each}}


<div id="wrapper">
    <div class="section">
        Some test
    </div>
    <div class="section">
        Some more
    </div>
<div class="section">
        Some MORERE yesss
    </div>


</div>
<script>
    $(document).ready(function(){
        $('#wrapper').fullpage({
            autoScrolling:true,
		    scrollHorizontally: true});

            
    });
</script>